@charset "UTF-8";

/* 基本 */
body {
    font-family: 'Noto Sans JP', sans-serif;
}
.container {
    width: 84%;
    margin: 0 auto;
}
@media (min-width: 900px) {
    .container {
        width: 91%;
        max-width: 1240px;
    }
}

/* リセット /　ノーマライず / サニタイズ */
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* header */
.site {
    display: flex;
    align-items: center;
}
.site img {
    width: 42px;
    margin-right: 10px;
}
.corp {
    font-size: 12px;
    font-weight: 900;
    color: #333;
    line-height: 1.4;
}
.desc {
    font-size: 10px;
    color: #707F89;
    line-height: 1.4;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}
@media (min-width: 900px) {
    .header .container {
        height: 100px;
    }
    .corp {
        font-size: 20px;
    }
    .desc {
        font-size: 12px;
    }
    .site img {
        width: 59px;
        margin-right: 18px
    }
}

/* nav */
.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2E5180;
}
.nav-button::before,
.nav-button::after {
    content: '';
    display: block;
    background-color: currentColor;
    height: 2px;
    transform: translateY(5px);
    transition: 0.3s ease-in-out;
}
.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}

/* nav: mobil */
@media(max-width: 899px) {
    html.open, .open body {
        height: 100%;
        overflow: hidden;
    }
    .open .form {
        display: none;
    }
    .open nav {
        left: 0;
    }
    .header {
        position: relative;
    }
    .nav {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        color: #fff;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.5s;
    }
    html, body {
        overflow-x: hidden;
    }
    .nav ul {
        list-style: none;
        font-weight: bold;
        text-align: center;
    }
    .nav li:not(:last-child) {
        margin-bottom: 40px;
    }
    .nav .btn {
        color: inherit;
    }
}

/* nav: PC */
@media(min-width: 900px) {
    .nav-button {
        display: none;
    }
    .nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        color: #333;
    }
    .nav li:not(:last-child) {
        margin-right: 20px;
    }
    .nav .btn {
        width: 148px;
        border-color: #cdd6dd;
    }
}

/* nav: close-button */
.open .nav-button {
    z-index: 1000;
    color: #fff;
}
.open .nav-button::before {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
}
.open .nav-button::after {
    transform: translateY(-1px) rotate(-45deg);
}

/* hero */
.hero {
    background-image: url(img/hero.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    display:flex;
}
.hero img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
.hero .catch{
    padding: 33px 0;
    background-color: rgb(255, 255, 255, 0.76);
    align-self: flex-end;
    flex: auto;
}
.hero .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1.3;
}
.hero p {
    font-size: 14px;
    color: #2E5180;
    margin-bottom: 15px;
}
@media (min-width: 900px) {
    .hero {
        height: 700px;
    }
    .hero .catch {
        padding: 47px 0 44px;
    }
    .hero p {
        font-size: 16px;
        margin-bottom: 22px;
    }
}

/* hero: IE対応 */
@media (-ms-high-content: none), not all and (-ms-high-contrast: none) {
    .hero img {
        width: calc((100vh - 17px) * 0.84);
        max-width: 637.78px;
    }
}

/* message */
.message {
    background-color: #2E5180;
    padding: 67px 0;
    color: #fff;
}
.message h2 {
    font-size: 24px;
    margin-bottom: 38px;
    line-height: 1.67;
    text-align: center;
}
.message p {
    font-size: 14px;
    line-height: 1.86;
    max-width: 640px;
    margin: 0 auto;
}
@media (min-width: 900px) {
    .message {
        padding: 81px 0;
    }
    .message h2 {
        font-size: 36px;
        line-height: 1.33;
    }
}
@media (max-width: 374px) {
    .message h2 {
        font-size: 20px;
    }
}